.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    background-color: #2F80ED;
    top: 64px;
    right: 0;
    z-index: 0;
    transform: rotate(360deg);
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }